main {
  text-align: center;
  font-family: helvetica;
  overflow: scroll;
}

label {
  font-size: 18px;
  text-align: center;
  margin-bottom: 5px;
  margin-right: 6px;
}

.rows-cols {
  display: block;
  margin-left: 10px;
  margin-right: 15px;
  font-size: 15px;
}

#rows, #columns {
  display: inline-block;
}

button {
  margin-top: 70px;
  margin-bottom: 40px;
  display: block;
  font-size: 15px;
  width: 150px;
  position: relative;
  left: 50%;
  transform: translateX(-75px);
}

#data {
  width: 100vw;
  position: absolute;
  top: 300px;
  overflow-x: scroll;
}

#data div {
  border: 1px dotted #DDD;
}

